<div class="my-3 my-md-5">
  <div class="card border-dark mb-3 m-auto auth-card">
    <h3 class="card-header text-center">Account Settings</h3>
    <div class="card-body text-dark p-3">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="card border-info text-info">
          <div class="card-body text-dark">
            <h6 class="text-info">Change password (Optional) </h6>
            <div class="form-group">
              <%= f.label :password %> (leave blank if you don't want to change)
              <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group mt-2">
          <%= f.label :current_password %> <i>(to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Update", class: "btn btn-block btn-outline-primary" %>
        </div>
      <% end %>
    </div>

    <div class="card border-danger text-danger m-3">
      <h5 class="card-header text-center">Danger Zone</h5>
      <div class="card-body text-dark">
        <p class="text-danger">Delete account (this cannot be reverted)</p>
        <p><%= button_to "Cancel my account", registration_path(resource_name), class: 'btn btn-danger btn-block', data: { confirm: "Are you sure?" }, method: :delete %></p>
      </div>
    </div>

    <div class="m-3">
      <%= link_to :back, class: "btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-arrow-left"></i> Go Back
      <% end %>
    </div>
  </div>
</div>
