<div class="my-5">
  <% if on_heroku? %>
    <div class="alert alert-warning auth-card mx-auto" role="alert">
      <i class="fas fa-exclamation-triangle"></i>
      WARNING: the data on the app on Heroku will be wiped and reset frequently. Please only use it for testing purposes.
    </div>
  <% end %>

  <div class="card border-dark mb-3 m-auto auth-card">
    <h3 class="card-header text-center">Sign up</h3>
    <div class="card-body text-dark">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-outline-primary btn-block" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
