<div id='<%= "listing-#{listing.id}" %>' class="card p-2 my-2">
  <h6 class="card-title mb-1">
    <%= link_to listing do %>
      <%= listing.title %> at <span class="text-muted"><%= listing.company.name %></span>
    <% end %>
  </h6>

  <p class="mb-1">
    <% listing.technologies.each do |tech| %>
      <span class="badge badge-pill badge-light"><%= tech.name %> </span>
    <% end %>
  </p>

  <div class="d-flex justify-content-between card-status-actions">
    <% if listing.not_applied? %>
      <i></i>
    <% else %>
      <%= link_to listing_prev_status_path(listing), method: :put, remote: true, class: "listing-#{listing.id}-prev-status" do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
    <% end %>

    <% if listing.unsuccessful? %>
      <i></i>
    <% else %>
      <%= link_to listing_next_status_path(listing), method: :put, remote: true, class: "listing-#{listing.id}-next-status" do %>
        <i class="fas fa-arrow-right"></i>
      <% end %>
    <% end %>
  </div>
</div>
