<div class="container-fluid">
  <div class="row flex-row flex-sm-nowrap py-4">
    <div class="col">
      <div id="not_applied-col" class="card bg-light">
        <div class="card-block p-3">
          <h4 class="card-title text-secondary text-center py-2">Not Applied</h4>
          <% @listings.not_applied.each do |listing| %>
            <%= render 'listings/kanban_card', listing: listing %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col">
      <div id="applied-col" class="card bg-light">
        <div class="card-block p-3">
          <h4 class="card-title text-info text-center py-2">Applied</h4>
          <% @listings.applied.each do |listing| %>
            <%= render 'listings/kanban_card', listing: listing %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col">
      <div id="called-col" class="card bg-light">
        <div class="card-block p-3">
          <h4 class="card-title text-primary text-center py-2">Called</h4>
          <% @listings.called.each do |listing| %>
            <%= render 'listings/kanban_card', listing: listing %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col">
      <div id="offered-col" class="card bg-light">
        <div class="card-block p-3">
          <h4 class="card-title text-success text-center py-2">Offered</h4>
          <% @listings.offered.each do |listing| %>
            <%= render 'listings/kanban_card', listing: listing %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col">
      <div id="unsuccessful-col" class="card bg-light">
        <div class="card-block p-3">
          <h4 class="card-title text-danger text-center py-2">Unsuccessful</h4>
          <% @listings.unsuccessful.each do |listing| %>
            <%= render 'listings/kanban_card', listing: listing %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
