
<h1><%= @listing.title %> at <span class="text-muted"><%= @listing.company %></span></h1>

<p><%= @listing.description %></p>

<%= link_to 'Edit', edit_listing_path(@listing), class: 'btn btn-outline-primary' %>
<%= link_to 'Delete', @listing, method: :delete, class: 'btn btn-danger btn-large', data: { confirm: 'Are you sure?' } %>