<div class="card mx-auto my-4" style="max-width: 40%">
  <% if @company.address.present? %>
    <iframe width="400" height="400" frameborder="1" style="border:0" class="card-img-top"
	src="https://www.google.com/maps/embed/v1/search?q=<%= @company.address.gsub(" ", "+") %>&key=<%= Rails.application.credentials.google[:maps_key] %>" allowfullscreen></iframe>
  <% else %>
    <%= image_tag 'map-placeholder.png', class: 'card-img-top' %>
  <% end %>

  <h3 class="card-title p-3"><%= @company.name %></h3>
  <div class="card-body">
    <p class="card-text">Glassdoor rate: <%= get_rating(@company) %></p>
    <p class="card-text">Address: <%= @company.address %></p>

    <div class="card-actions text-center mt-5">
      <%= link_to 'Edit', edit_company_path(@company), class: 'btn btn-sm btn-outline-primary' %>
      <%= link_to 'Delete', company_path(@company), method: :delete, class: 'btn btn-sm btn-outline-danger', data: { confirm: 'Are you sure?' } %>
    </div>
  </div>

</div>
