<h4 class="display-3 my-4">
  <span class="badge badge-pill badge-primary">
    <%= @technology.requirements.size %>
  </span>
  <%= @technology.name %>
</h4>

<h3>Required on:</h3>
<ul>
  <% @technology.requirements.each do |requirement| %>
    <li>
      <%= link_to requirement.listing.title, listing_path(requirement.listing) %> at <%= requirement.listing.company.name %>
    </li>
  <% end %>
</ul>

<div class="mt-4">
  <%= link_to 'Edit', edit_technology_path(@technology), class: 'btn btn-sm btn-outline-primary' %>
  <%= link_to 'Delete', technology_path(@technology), method: :delete, class: 'btn btn-sm btn-outline-danger', data: { confirm: 'Are you sure?' } %>
</div>
