<div class="bg-light">
  <div class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <%= link_to 'Listings', listings_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Technologies', technologies_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
      </li>
      <li class="nav-item">
        <%= link_to 'Companies', companies_path, class: 'nav-link' %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-plus-circle"></i> New</a>
        <div class="dropdown-menu">
          <%= link_to 'New Listing', new_listing_path, class: 'dropdown-item' %>
          <%= link_to 'New Technology', new_technology_path, class: 'dropdown-item' %>
          <%= link_to 'New Company', new_company_path, class: 'dropdown-item' %>
        </div>
      </li>
    </ul>
  </div>
</div>
